<div id="PartialDiv">
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function refresh() {
        $.getJSON("/Home/PartialEventLog", function (dataResponse) {
            $('#PartialDiv').html(dataResponse);
        });
        //setTimeout(refresh(), 1000);
    };

    $(document).ready(function () {
        refresh();
    });
</script>